.a3-navbar {
  background: var(--main);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4px;
}

.a3-nav {
  display: flex;
  gap: 4px;
  align-items: center;
  height: 90%;
}

.a3-nav-item {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 6px;
  transition: all 150ms ease;
  height: 90%;
  font-size: 1em;
}

.a3-nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
:root {
    --rs-navbar-subtle-selected-text: var(--main);
    --rs-navbar-subtle-hover-bg: var(--accent-hover);
}

.rs-nav-subtle.rs-nav-horizontal .rs-nav-bar {
    border: 0;
}